# Final Project - Dashboard

Names:

- Milagros Contreras Elizalde
  - *e-mail*: milagros.contreras8430@alumnos.udg.mx

- Heriberto Zapata Solano
  - *e-mail*: heriberto.zapata7939@alumnos.udg.mx

# Modules

In [7]:
import numpy as np
import pandas as pd
import requests

In [6]:
url = 'https://drive.google.com/uc?export=download&id=1-YHgns9U6ehZcwsOcFC-MNMny3oYsgPp'
response = requests.get(url)
open('shipping.csv', 'wb').write(response.content)
df = pd.read_csv('shipping.csv')
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1